<div class="clearfix"></div>
<div class="space_70"></div>
<!--Last TAB Container - WEB Starts-->
<div class="clearfix"></div>
<div class="slider_content_adver" id="advertisement_1">
  <div class="adver_heading" id="advertisement_1_heading"><h1>{{heading}}</h1></div>
  <div class="adver_heading_sub" id="advertisement_1_subheading">
    <div class="adver_txt">{{subHeading}}</div>
  </div>
  <div class="space_200"></div>
  <div class="btn_container" style="position: absolute; z-index: 112; opacity: 0.7;">
    <a href="javascript:void(0)" (click)="commonService.goToURL(url);">
      <div class="white_outline_btn">{{buttonText}}</div>
    </a>
  </div>
  <div class="space_20"></div>
  <div class="blackoverlay"></div>
</div>
<!--Last TAB - WEB ends-->