<div class="space_80"></div>
<div class="trending_wrap">
  <div class="space_20"></div>
  <img src="image/error_ic.svg" alt="{{'pwa.image.alt.text' | customTranslate}}"
    style="width: 60px;height: 60px;margin-left: auto;margin-right: auto;display: block;">
  <div class="pop_thankyou_txt">{{'pwa.error.page.heading.text' | customTranslate}}</div>
  <div class="oops_text">{{errorMessage}}</div>
  <div class="space_20"></div>
  <div class="pop_confirm_btn">
    <a href="javascript:void(0);" (click)="commonService.goToHome(false)">
      <div class="fill_btn1">{{'pwa.error.page.button.text' | customTranslate}}</div>
    </a>
  </div>
  <div class="space_60"></div>
</div>